<%- include('header', { otsikko: `pokemon.name` }); %>


    
    <div class="container">
        <h1 class="my-4"><%= pokemon.name %></h1>
        <img src="<%= pokemon.sprites.front_default %>" class="pokemon-details-img" alt="<%= pokemon.name %>">
        <p><strong>Paino:</strong> <%= pokemon.weight %></p>
        <p><strong>Korkeus:</strong> <%= pokemon.height %></p>

        <h2 class="mt-4">Pokemonin statsit</h2>
        <ul>
            <% stats.forEach(stat => { %>
                <li><strong><%= stat.name %>:</strong> <%= stat.value %></li>
            <% }); %>
        </ul>
    </div>
    <%- include('footer') %>

